python-docx
python-pptx
numpy
pandas
uuid
Flask
Flask-Cors
python-dotenv
langchain
langchain-huggingface
langchain-community
langchain-groq
langchain.prompts
torch
torchtext
faiss-cpu
pypdf
supabase
scikit-learn
huggingface-hub










